$primary-color: #747fe0;
$secondary-color: #5a5d7a;
$secondary-color-hover: #7795f8;
$third-color: #525f7f;
$box-shadow: 0 50px 100px rgba(50,50,93,.15), 0 15px 35px rgba(50,50,93,.2), 0 5px 15px rgba(0,0,0,.12);
$box-shadow2: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
$box-shadow3: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
